.wrapper.four {
  font-size: 16px;
  font-family: "Play", sans-serif;
  width: 100px;
}
.four .type {
  width: 100px;
}
.four h3 {
  width: 14.6ch;
  border-right: 2px solid black;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(15, end), blink-caret 0.5s step-end;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
